.min-vh-100 {
    min-height: calc(100vh - 76px);
}

.form-control.border-start-0 {
    border-left: none;
}

.input-group-text.border-end-0 {
    border-right: none;
}

.form-control:focus + .input-group-text,
.form-control:focus ~ .input-group-text {
    border-color: var(--primary);
}

.input-group:focus-within .input-group-text {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.15);
}
