################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/SistemaDeAgendamento.Repositories/bin
/src/SistemaDeAgendamento.Repositories/obj
/src/SistemaDeAgendamento.Services
/src/SistemaDeAgendamento.Services/obj
/src/SistemaDeAgendamento.Web/bin
/src/SistemaDeAgendamento.Web/obj
/src/SistemaDeAgendamento.Web/node_modules
/src/SistemaDeAgendamento.Web/SistemaDeAgendamento.Web.csproj.user
