################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SistemaDeAgendamento/.vs/SistemaDeAgendamento
/SistemaDeAgendamento/SistemaDeAgendamento.Repositories/bin
/SistemaDeAgendamento/SistemaDeAgendamento.Repositories/obj
/SistemaDeAgendamento/SistemaDeAgendamento.Services/bin
/SistemaDeAgendamento/SistemaDeAgendamento.Services/obj
/SistemaDeAgendamento/SistemaDeAgendamento.Web/bin
/SistemaDeAgendamento/SistemaDeAgendamento.Web/obj
/SistemaDeAgendamento/SistemaDeAgendamento.Web/SistemaDeAgendamento.Web.csproj.user
