* {
    font-family: 'Poppins', 'Inter', sans-serif;
}

body {
    padding-top: 80px;
    background-color: #F9FAFB;
}

.navbar {
    background-color: #0A58CA;
}

.table tbody tr:hover {
    background-color: #f5f9ff;
    transition: background-color 0.2s ease-in-out;
}

@media (max-width: 676px){
    .navbar-brand {
        font-size: 1.1rem;
    }
}

