.card {
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
    background-color: #eee
}

    .card .card-body a:hover {
        transform: scale(1.03);
        box-shadow: 0 6px 20px rgba(0,0,0,0.1);
        transition: .2s transform;
    }
    