.card-container {
}

.card {
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
}

    .card .card-body a:hover {
        transform: scale(1.03);
        box-shadow: 0 6px 20px rgba(0,0,0,0.1);
        transition: .2s transform;
    }

.time-span, .price-span {
    font-size: 0.9rem;
    opacity: 0.9;
}